* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* create media queries to handle different screen sizes and shrink/expand the nav bar accordingly */
@media screen and (max-width: 768px) {
    .nav-menu ul {
        position: absolute;
        top: 60px;
        left: 0;
        flex-direction: column;
        height: calc(100vh - 77px);
        color: white;
        border-top: 1px solid black;
        width: 100%;
        padding: 0;
    }
    .nav-menu ul li {
        text-align: center;
        margin: 0px;
        color: black;
        display: none;
    }
    .nav-menu li a {
        padding: 1.5rem 0;
        margin: 0;
    }
    .nav-menu li:hover {
        background-color: #eee;
    }
    .nav-menu.expanded ul li {
        display: block;
    }
    .selectCurrency {
        display: none;
    }
    .selectCurrency.collapsed {
        display: block;
        position: absolute;
        right: 140px;
    }
}

@media screen and (min-width: 768px) {
    .hamburger {
        display: none;
    }
}

.navBar {
    width: 100%;
    height: 60px;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0.19);
    background-color: #fff;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
}

.brand-name {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    margin-left: 1rem;
}

.brand-name img {
    height: 50px;
}

.hamburger {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 85px;
    transform: translateY(-50%);
}

.nav-menu {
    margin-left: auto;
}

.nav-menu ul {
    display: flex;
    padding: 0;
}

.nav-menu li {
    /* removes default disc bullet for li tags and applies margin to left & right side */
    list-style-type: none;
    margin: 0 1rem;
}

.nav-menu li a {
    text-decoration: none;
    display: block;
    width: 100%;
    color: inherit;
}

.logout {
    background-color: #425F9C;
    border: none;
    color: white;
    height: 40px;
    width: 70px;
    margin-right: 10px;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.19);
    border-radius: 3px;
}

.logout:hover {
    filter: brightness(115%);
}

.selectCurrency {
    position: absolute;
    right: 340px;
}